<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Javascript Training | Hack Reactor</title>
    <link rel = 'stylesheet' type = 'text/css' href = '../css/main.css'>
    <script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../javascripts/prep.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Source+Sans+Pro:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type = 'text/css' href="../css/prep.css">
  </head>

  <body>
    <div class="topnavgrid">
      <nav class = "mainnav">
        <div class = "logo">
          <p>
          </p>
        </div>
        <div class = "navbar">
          <a href="">Onsite</a>
          <a href="">Remote</a>
          <a href="">Prepare</a>
          <a href="">Partnerships</a>
          <a href="">Outcomes</a>
          <a href="">Events</a>
          <a href="">Scholarships</a>
          <a href="" id = "applynow">Apply Now</a>
        </div>
      </nav>
    </div>

      <section class = "centeredblock">
          <h2>FAQ</h2>

          <div class="faqcard">
            <div class="shadowcard" id = "card1">
              <ul>
                <li>
                  <h3>What are the program start dates?</h3>
                </li>
              </ul>
            </div>
            <div class="hiddeninfo" id = "answer1">
              <p>
                Hack Reactor Prep has rolling enrollment. Since the course is self-paced and online, you can join us at any time and work at your own pace and leisure.
              </p>
            </div>

            <div class="shadowcard" id = "card2">
              <ul>
                <li>
                  <h3>Is this an in-person/live online course with scheduled days and times?</h3>
                </li>
              </ul>
            </div>
            <div class="hiddeninfo" id = "answer2">
              <p>
                Nope! Hack Reactor Prep is fully online and self-paced. Students enrolled in Full Prep receive Mentor support remotely through video chat and direct messaging.
              </p>
            </div>

            <div class="shadowcard" id = "card3">
              <ul>
                <li>
                  <h3>Am I guaranteed to get into Hack Reactor if I take Prep?</h3>
                </li>
              </ul>
            </div>
            <div class="hiddeninfo" id = "answer3">
              <p>
                Hack Reactor Prep does not guarantee admittance into Hack Reactor's Immersive Programs. That said, 75% of students who interview after completing the course in its entirety are accepted to Hack Reactor.
              </p>
            </div>

            <div class="shadowcard" id = "card4">
              <ul>
                <li>
                  <h3>It says there is a waitlist for Full Prep. What should I do?</h3>
                </li>
              </ul>
            </div>
            <div class="hiddeninfo" id = "answer4">
              <p>
                We do have to cap the number of Full Prep students enrolled at any given time to ensure high-quality and timely support. We are able to move students off of the waitlist and into the course as others finish. Our advice: sign up for the waitlist, and then enroll in Basic Prep. This allows you to begin on the modules with automated feedback, which are the same for both versions of Prep, while you wait for a spot.
              </p>
            </div>

            <div class="shadowcard" id = "card5">
              <ul>
                <li>
                  <h3>Do you have scholarships available for Prep?</h3>
                </li>
              </ul>
            </div>
            <div class="hiddeninfo" id = "answer5">
              <p>
                We do not. That said, Basic Prep is 100% free and designed to allow you to fully prepare for the technical interview.
              </p>
            </div>

          </div>

          <div class="moreFAQ">See More FAQ</div>
      </section>

    </div>

  </body>
</html>
