<head>
  <link href="https://fonts.googleapis.com/css?family=Lato|PT+Sans" rel="stylesheet">
  <link rel = 'stylesheet' type = 'text/css' href = '../css/main.css'>
  <script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../javascripts/main.js"></script>
  <title>You're Awesome!</title>
</head>

<body>

  <h1>Hello World!</h1>
  <button class = "trigger" type="button" name="button">Click Me!</button>

  <!-- <a name= "top"></a>
  <h1 class = "awesome">HI!!!</h1>
  <p class = "awesome">Hello World!</p>
  <p class = "alsocool">Hello World!</p>

  <a name = "boxes"></a>
  <div class = "firstbox">
    <p class = "alsocool">
      Hello World!
    </p>
  </div>

  <div class = "secondbox">

      <p class = "awesome">
        Hey what's up?
      </p>

  </div>

  <div class="">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

  </div>

  <div class="relativediv">
    <div class="subabsolutediv">

    </div>
    <div class="subrelativediv">

    </div>
  </div>

  <div class="absolutediv">
    <div class="subabsolutediv">

    </div>
    <div class="subrelativediv">

    </div>
  </div>

  <nav class = "sidebar">
    <a href = "#top">
      Back to top <br />
    </a>
    <a href="#boxes">
      Boxes
    </a>
  </nav> -->

</body>
